applicationId=<tenant_app_id> # example: com.example.tenantalpha.app
storePassword=<storePassword>
keyPassword=<keyPassword>
keyAlias=<tenant>-alias # example: tenantalpha-alias
storeFile=<tenant>-release-key.jks # example: tenantalpha-release-key.jks
